<p>Crew Members information</p>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country of Birth</th>
        <th>Birth Date</th>
        <th>Home Base Leader</th>
    </tr>

    {{#each data}}

        <tr>
            <td>{{this.crew_member_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.birth_country}}</td>
            <td>{{this.birth_date}}</td>
            <td>{{this.home_base_lead}}</td>
        </tr>

    {{/each}}

    {{!-- <tr>
        <td>1</td>
        <td>Angelina</td>
        <td>Sanchez</td>
        <td>United States of America</td>
        <td>1992-01-19</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Abubakar</td>
        <td>Ajayi</td>
        <td>United States of America</td>
        <td>1976-11-20</td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sara</td>
        <td>Heron</td>
        <td>Ukraine</td>
        <td>1975-07-02</td>
        <td></td>
    </tr> --}}
</table>

<div class="flexbox_forms">

    <form action="/crew_members" method="POST">
        <h3 class="form_title">Add a Crew Member</h3>

        <div class="form_group">
            <label for="first_name">First Name</label>
            <input required value="" type="text" name="first_name" id="first_name"></input>
        </div>

        <div class="form_group">
            <label for="last_name">Last Name</label>
            <input required value="" type="text" name="last_name" id="last_name"></input>
        </div>

        <div class="form_group">
            <label for="birth_country">Country of Birth</label>
            <input required value="" type="text" name="birth_country" id="birth_country"></input>
        </div>

        <div class="form_group">
            <label for="birth_date">Birth Date</label>
            <input required value="" type="date" name="birth_date" id="birth_date"></input>
        </div>

        <div class="form_group">
            <label for="home_base_lead">Home Base Leader</label>
            <input value="" type="checkbox" name="home_base_lead" id="home_base_lead"></input>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/crew_members?_method=PUT" method="POST">
        <h3 class="form_title">Update a Crew Member</h3>

        <div class="form_group">

            <label for="crew_member_select">Crew Member</label>
            <select name="crew_member_select">

                {{#each data}}

                    <option value="{{this.crew_member_id}}">{{this.first_name}} {{this.last_name}}</option>

                {{/each}}
                
            </select>        
        </div>

        <div class="form_group">
            <label for="first_name">First Name</label>
            <input value="" type="text" name="first_name" id="first_name"></input>
        </div>

        <div class="form_group">
            <label for="last_name">Last Name</label>
            <input value="" type="text" name="last_name" id="last_name"></input>
        </div>

        <div class="form_group">
            <label for="birth_country">Country of Birth</label>
            <input value="" type="text" name="birth_country" id="birth_country"></input>
        </div>

        <div class="form_group">
            <label for="birth_date">Birth Date</label>
            <input value="" type="date" name="birth_date" id="birth_date"></input>
        </div>

        <div class="form_group">
            <label for="home_base_lead">Home Base Leader</label>
            <input value="" type="checkbox" name="home_base_lead" id="home_base_lead"></input>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/crew_members?_method=DELETE" method="POST">
        <h3 class="form_title">Delete a Crew Member</h3>

        <div class="form_group">

            <label for="crew_member_select">Crew Member</label>
            <select name="crew_member_select">

                {{#each data}}

                    <option value="{{this.crew_member_id}}">{{this.first_name}} {{this.last_name}}</option>

                {{/each}}
                
            </select>        

        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>
