<p>External Site Information</p>

<table id="data_table" data-entity="external_sites">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Distance From Earth (mi)</th>
    </tr>

    {{#each data}}

        <tr data-id="{{this.external_site_id}}">
            <td>{{this.external_site_id}}</td>
            <td class="th_long">{{this.name}}</td>
            <td class="th_long">{{this.dist_from_earth}}</td>
        </tr>

    {{/each}}

</table>

<div class="flexbox_forms">

    <form id="add_form">
        <h3 class="form_title">Add an External Site</h3>

        <div class="form_group">
            <label for="add_name">Name</label>
            <input required value="" type="text" name="name" id="add_name"></input>
        </div>

        <div class="form_group">
            <label for="add_dist_from_earth">Distance from Earth (mi)</label>
            <input type="number" name="dist_from_earth" id="add_dist_from_earth"></textarea>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form id="update_form">
        <h3 class="form_title">Update an External Site</h3>

        <div class="form_group">

            <label for="entry_select_update">External Site</label>
            <select name="external_site_select" class="entry_select" id="entry_select_update">

                <option value="-1">Select an External Site</option>

                {{#each data}}

                    <option value="{{this.external_site_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>              
        </div>

        <div class="form_group">
            <label for="update_name">Name</label>
            <input required value="" type="text" name="name" id="update_name"></input>
        </div>

        <div class="form_group">
            <label for="update_dist_from_earth">Distance from Earth (mi)</label>
            <input type="number" name="dist_from_earth" id="update_dist_from_earth"></textarea>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form id="delete_form">
        <h3 class="form_title">Delete an External Site</h3>

        <div class="form_group">

            <label for="entry_select_delete">External Site</label>
            <select name="external_site_select" id="entry_select_delete" class="entry_select">

                <option value="-1">Select an External Site</option>

                {{#each data}}

                    <option value="{{this.external_site_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>       
        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>

<script src="/js/entity_CRUD.js"></script>
