<p>Missions and Their Crew Members</p>

<div class="flexbox_intersection_table">

    <table id="data_table" data-intersection_table="missions_crew_members">
        <tr>
            <th class="th_long">Mission</th>
            <th>Crew Member</th>
        </tr>

        {{#each data}}
            <tr>
                <td data-mission_id="{{this.mission_id}}">{{this.mission_name}}</td>
                <td data-crew_member_id="{{this.crew_member_id}}">{{this.first_name}} {{this.last_name}}</td>
            </tr>
        {{/each}}

    </table>

    <div class="flexbox_forms">

        <form id="add_form">
            <h3 class="form_title">Add a Relationship</h3>

            <p>Add the Crew Member to the Mission:</p>

            <div class="form_group">

                <label for="select_add_one">Mission</label>
                <select name="mission_select" id="select_add_one">

                    <option value="-1">Select a Mission</option>

                    {{#each missions}}

                        <option value="{{this.mission_id}}">{{this.name}}</option>

                    {{/each}}
                    
                </select>

            </div>

            <div class="form_group">

                <label for="select_add_two">Crew Member</label>
                <select name="crew_member_select" id="select_add_two">

                    <option value="-1">Select a Crew Member</option>

                    {{#each crew_members}}

                        <option value="{{this.crew_member_id}}">{{this.first_name}} {{this.last_name}}</option>

                    {{/each}}
                    
                </select>        
            </div>

            <button type="submit">Add</button>
            <button type="reset">Clear</button>
        </form>



        <form id="delete_form">
            <h3 class="form_title">Delete a Relationship</h3>

            <p>Remove the Crew Member from the Mission:</p>

            <div class="form_group">

                <label for="select_delete_one">Mission</label>
                <select name="mission_select" id="select_delete_one">

                    <option value="-1">Select a Mission</option>

                    {{#each missions}}

                        <option value="{{this.mission_id}}">{{this.name}}</option>

                    {{/each}}
                    
                </select>

            </div>

            <div class="form_group">

                <label for="select_delete_two">Crew Member</label>
                <select name="crew_member_select" id="select_delete_two">

                    <option value="-1">Select a Crew Member</option>

                    {{#each crew_members}}

                        <option value="{{this.crew_member_id}}">{{this.first_name}} {{this.last_name}}</option>

                    {{/each}}
                    
                </select>        
            </div>

            <button type="submit">Delete</button>
            <button type="reset">Clear</button>
        </form>

    </div>

    <script src="/js/intersection_table_CRUD.js"></script>

</div>
