<p>Mission information</p>

<table id="data_table" data-entity="missions">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Launch Date</th>
        <th>Successfully Completed</th>
        <th>Organization</th>
    </tr>

    {{#each data}}

        <tr data-id="{{this.mission_id}}">
            <td>{{this.mission_id}}</td>
            <td>{{this.name}}</td>
            <td class="th_longer">{{this.description}}</td>
            <td>{{this.launch_date}}</td>
            <td>{{this.successful_completion}}</td>
            <td class="th_long">{{this.organization_name}}</td>
        </tr>

    {{/each}}

</table>

<div class="flexbox_forms">

    <form id="add_form">
        <h3 class="form_title">Add a Mission</h3>

        <div class="form_group">
            <label for="add_name">Name</label>
            <input required value="" type="text" name="name" id="add_name"></input>
        </div>

        <div class="form_group">
            <label for="add_description">Description</label>
            <textarea required name="description" id="add_description"></textarea>
        </div>

        <div class="form_group">
            <label for="add_launch_date">Launch Date</label>
            <input value="" type="date" name="launch_date" id="add_launch_date"></input>
        </div>

        <div class="form_group">
            <label for="add_successful_completion">Successfully Completed</label>
            <input type="checkbox" name="successful_completion" id="add_successful_completion"></input>
        </div>

        <div class="form_group">

            <label for="add_organization_select">Organization</label>
            <select name="organization_id" id="add_organization_select">

                <option value="-1">No Organization</option>

                {{#each organizations}}

                    <option value="{{this.organization_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>          
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>

    <form id="update_form">
        <h3 class="form_title">Update a Mission</h3>

        <div class="form_group">
            <label for="entry_select_update">Mission</label>
            <select name="mission_select" class="entry_select" id="entry_select_update">

                <option value="-1">Select a Mission</option>

                {{#each data}}

                    <option value="{{this.mission_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>
        </div>

        <div class="form_group">
            <label for="update_name">Name</label>
            <input required value="" type="text" name="name" id="update_name"></input>
        </div>

        <div class="form_group">
            <label for="update_description">Description</label>
            <textarea name="description" id="update_description"></textarea>
        </div>

        <div class="form_group">
            <label for="update_launch_date">Launch Date</label>
            <input type="date" name="launch_date" id="update_launch_date"></input>
        </div>

        <div class="form_group">
            <label for="update_successful_completion">Successfully Completed</label>
            <input type="checkbox" name="successful_completion" id="update_successful_completion"></input>
        </div>

        <div class="form_group">

            <label for="update_organization_select">Organization</label>
            <select name="organization_id" id="update_organization_select">

                <option value="-1">No Organization</option>

                {{#each organizations}}

                    <option value="{{this.organization_id}}">{{this.name}}</option>

                {{/each}}

            </select>          
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form id="delete_form">
        <h3 class="form_title">Delete a Mission</h3>

        <div class="form_group">

            <label for="delete_select">Mission</label>
            <select name="mission_select" id="delete_select" class="entry_select">

                {{#each data}}

                    <option value="{{this.mission_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>

        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

    <form action="/missions/search" method="GET">
        <h3 class="form_title">Search for a Mission</h3>

        <p>Search for missions by name:</p>

        <div class="form_group">
            <label for="search_name">Name</label>
            <input value="" type="text" name="name" id="search_name"></input>
        </div>

        <button type="submit">Search</button>
        <button type="reset">Clear</button>
    </form>

</div>

<script src="/js/entity_CRUD.js"></script>
