<p>Organizations information</p>

<table id="data_table" data-entity="organizations">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
    </tr>

    {{#each data}}

        <tr data-id="{{this.organization_id}}">
            <td>{{this.organization_id}}</td>
            <td class="th_longer">{{this.name}}</td>
            <td>{{this.country}}</td>
        </tr>

    {{/each}}

</table>

<div class="flexbox_forms">

    <form id="add_form">
        <h3 class="form_title">Add an Organization</h3>

        <div class="form_group">
            <label for="add_name">Name</label>
            <input required value="" type="text" name="name" id="add_name"></input>
        </div>

        <div class="form_group">
            <label for="add_country">Country</label>
            <input required type="text" name="country" id="add_country"></input>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form id="update_form">
        <h3 class="form_title">Update an Organization</h3>

        <div class="form_group">

            <label for="entry_select_update">Organization</label>
            <select name="organization_select" class="entry_select" id="entry_select_update">

                <option value="-1">Select an Organization</option>

                {{#each data}}

                    <option value="{{this.organization_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>          
        </div>

        <div class="form_group">
            <label for="update_name">Name</label>
            <input required value="" type="text" name="name" id="update_name"></input>
        </div>

        <div class="form_group">
            <label for="update_country">Country</label>
            <input required value="" type="text" name="country" id="update_country"></input>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form id="delete_form">
        <h3 class="form_title">Delete an Organization</h3>

        <div class="form_group">

            <label for="delete_select">Organization</label>
            <select name="organization_select" id="delete_select" class="entry_select">

                {{#each data}}

                    <option value="{{this.organization_id}}">{{this.name}}</option>

                {{/each}}
                
            </select>          
        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>

<script src="/js/entity_CRUD.js"></script>
